@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700');

html,
body {
  overflow-x: hidden;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
/*   S T Y L E S    M A I N     C O M P O N E N T S       */

img,
.max50,
.max60 {
  max-width: 100%;
}
img.max80 {
  max-width: 80%;
}
label {
  font-weight: 700;
}
a {
  text-decoration: none;
}
ul.no-style {
  list-style: none;
  padding-left: 20px;
  text-align: left !important;
}
section {
  position: relative;
}

.section-padding {
  padding-top: 90px;
  padding-bottom: 90px;
}
.section-padding-b {
  padding-bottom: 90px;
}
.hide-desktop {
  display: inline-block;
}
@media (max-width: 600px) {
  .btn-lg {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .hide-desktop {
    display: none;
  }
  .max50 {
    max-width: 50%;
  }
  .max60 {
    max-width: 60%;
  }
}

.overlay-dark,
.overlay-dark20,
.overlay-dark30,
.overlay-dark40,
.overlay-dark60,
.overlay-dark80,
.overlay-dark90,
.overlay-light,
.overlay-light80,
.overlay-blue {
  position: relative;
  z-index: 1;
}

.overlay-dark:before,
.overlay-dark20:before,
.overlay-dark30:before,
.overlay-dark40:before,
.overlay-dark60:before,
.overlay-dark80:before,
.overlay-dark90:before,
.overlay-light:before,
.overlay-light80:before {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
}

.overlay-dark:before {
  background-color: rgba(0, 123, 255, 0.85);
}

.overlay-dark20:before {
  background-color: rgba(34, 34, 34, 0.2);
}

.overlay-dark30:before {
  background-color: rgba(34, 34, 34, 0.3);
}

.overlay-dark40:before {
  background-color: rgba(34, 34, 34, 0.4);
}

.overlay-dark60:before {
  background-color: rgba(34, 34, 34, 0.6);
}

.overlay-dark80:before {
  background-color: rgba(34, 34, 34, 0.8);
}

.overlay-dark90:before {
  background-color: rgba(34, 34, 34, 0.9);
}

.overlay-light:before {
  background-color: rgba(255, 255, 255, 0.7);
}

.overlay-light80:before {
  background-color: rgba(255, 255, 255, 0.9);
}

/*   S T Y L E S      H E I G H T S          */

.h100 {
  min-height: 100vh;
}
.h85 {
  min-height: 85vh;
}
.h75 {
  min-height: 75vh;
}
.h50 {
  min-height: 50vh;
}
.h40 {
  min-height: 40vh;
}

/*   S T Y L E S    B A C K G R O U N D S       */

.bg-black {
  background-color: #000;
}
.bg-gray {
  background-color: #f0f0f0;
}
.bg-red {
  background-color: #dc3545;
}
.bg-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f43030+0,2667f2+100,5a8bed+100,2667f2+100,5387ef+100,f43030+100,f43030+100,961c1e+100,7db9e8+100,2781f7+100,f43030+101,f43030+102 */
  background: #f43030; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #f43030 0%,
    #2667f2 100%,
    #5a8bed 100%,
    #2667f2 100%,
    #5387ef 100%,
    #f43030 100%,
    #f43030 100%,
    #961c1e 100%,
    #7db9e8 100%,
    #2781f7 100%,
    #f43030 101%,
    #f43030 102%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #f43030 0%,
    #2667f2 100%,
    #5a8bed 100%,
    #2667f2 100%,
    #5387ef 100%,
    #f43030 100%,
    #f43030 100%,
    #961c1e 100%,
    #7db9e8 100%,
    #2781f7 100%,
    #f43030 101%,
    #f43030 102%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #f43030 0%,
    #2667f2 100%,
    #5a8bed 100%,
    #2667f2 100%,
    #5387ef 100%,
    #f43030 100%,
    #f43030 100%,
    #961c1e 100%,
    #7db9e8 100%,
    #2781f7 100%,
    #f43030 101%,
    #f43030 102%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f43030', endColorstr='#f43030',GradientType=1 ); /* IE6-9 */
}

.bg-gradient2 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f43030+0,2667f2+100,5a8bed+100,2667f2+100,5387ef+100,f43030+100,f43030+100,961c1e+100,7db9e8+100,2781f7+100,f43030+101,f43030+102 */
  background: #f43030; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #f43030 0%,
    #2667f2 100%,
    #5a8bed 100%,
    #2667f2 100%,
    #5387ef 100%,
    #f43030 100%,
    #f43030 100%,
    #961c1e 100%,
    #7db9e8 100%,
    #2781f7 100%,
    #f43030 101%,
    #f43030 102%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #f43030 0%,
    #2667f2 100%,
    #5a8bed 100%,
    #2667f2 100%,
    #5387ef 100%,
    #f43030 100%,
    #f43030 100%,
    #961c1e 100%,
    #7db9e8 100%,
    #2781f7 100%,
    #f43030 101%,
    #f43030 102%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #f43030 0%,
    #2667f2 100%,
    #5a8bed 100%,
    #2667f2 100%,
    #5387ef 100%,
    #f43030 100%,
    #f43030 100%,
    #961c1e 100%,
    #7db9e8 100%,
    #2781f7 100%,
    #f43030 101%,
    #f43030 102%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f43030', endColorstr='#f43030',GradientType=1 ); /* IE6-9 */
}
.bg-card {
  background-image: url(../images/bg-card-two.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.bg-card-2 {
  background-image: url(../images/bg-card.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.bg-section {
  background-image: url(../images/bg-section.png);
  background-position: center;
  background-repeat: no-repeat;
}
.bg-section2 {
  background-image: url(../images/bg-section2.png);
  background-position: center;
  background-repeat: no-repeat;
}
.bg-section3 {
  background-image: url(../images/bg-section3.png);
  background-position: center;
  background-repeat: no-repeat;
}
.bg-healers {
  background: url(../images/healers.jpg) center no-repeat;
  background-size: cover;
}
.bg-faq {
  background: url(../images/faq.jpg) center no-repeat;
  background-size: cover;
}
.bg-brand {
  background: url(../images/brand.jpg) center no-repeat;
  background-size: cover;
}
.bg-loan {
  background: url(../images/loan.jpg) center no-repeat;
  background-size: cover;
}
.bg-about {
  background: url(../images/about.jpg) center no-repeat;
  background-size: cover;
}
.bg-contact {
  background: url(../images/contact.jpg) center no-repeat;
  background-size: cover;
}
.bg-terms {
  background: url(../images/terms.jpg) center no-repeat;
  background-size: cover;
}
.bg-privacy {
  background: url(../images/privacy.jpg) center no-repeat;
  background-size: cover;
}

@media (max-width: 600px) {
  .bg-card {
    background: url(../images/bg-card-two.jpg) center no-repeat;
    background-size: cover;
  }
  .bg-card-2 {
    background: url(../images/bg-card.jpg) center no-repeat;
    background-size: cover;
  }
}

/*   S T Y L E S    T E X T S       */
.max700 {
  max-width: 700px;
  margin: 0 auto;
}
.text-bold {
  font-weight: 700;
}
.text-red {
  color: #f43030;
}
.text-shadow {
  text-shadow: 1px 1px 2px #000;
}
.text-gray {
  color: #eaeaea;
}

/*   S T Y L E S    I C O N S       */
.ti-2x {
  font-size: 2rem;
}
.ti-3x {
  font-size: 3rem;
}
.ti-4x {
  font-size: 4rem;
}
.ti-5x {
  font-size: 5rem;
}

/*   S T Y L E S    B U T T O N S       */

.btn-rounded {
  border-radius: 10px;
}
.btn-rounded.btn-warning {
  border-bottom: 3px solid #d3a007;
}
.btn-rounded.btn-primary {
  border-bottom: 3px solid #0365cd;
}

/*   S T Y L E S    I N T R O     */
.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}

.card-wini {
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #ffffff;
  color: #252422;
  margin-bottom: 25px;
  position: relative;
  min-height: 300px !important;
}

.card-wini .header {
  padding: 20px 15px 15px;
  position: relative;
  border-radius: 3px 3px 0 0;
  z-index: 3;
}

.card-wini .content {
  padding: 15px 15px 10px 15px;
}

/*   S T Y L E S    W O R K     */

.row-steps {
  text-align: left;
}

@media (min-width: 1024px) {
  .title {
    font-size: 2.5rem;
    margin-top: 80px;
  }
  .subtitle {
    font-size: 1.2rem;
  }
}

.block-shadow {
  z-index: 9;
  -webkit-box-shadow: 0 0 32px 0 rgba(122, 122, 122, 0.1);
  -moz-box-shadow: 0 0 32px 0 rgba(122, 122, 122, 0.1);
  box-shadow: 0 0 32px 0 rgba(122, 122, 122, 0.1);
  padding: 40px 20px 20px;
  background-color: #fff;
  text-align: center;
  transition: all 0.4s ease-in-out 0s;
  width: 100%;
  min-height: 245px;
  margin-bottom: 30px;
  position: relative;
}

.block-shadow i {
  font-size: 4em;
  color: #ccc;
}
.block-shadow h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}

/*   S T Y L E S    F O R M S       */

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.radio-tile-group .input-container {
  position: relative;
  height: 5rem;
  width: 8rem;
  margin: 0.5rem;
}
.radio-tile-group .input-container.checkbox {
  position: relative;
  height: 3rem;
  width: 8rem;
  margin: 0.5rem;
}

.radio-tile-group .input-container .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.radio-tile-group .input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid #079ad9;
  border-radius: 5px;
  padding: 1rem;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.radio-tile-group .input-container.yellow .radio-tile {
  border: 2px solid #ffc107;
}
.radio-tile-group.usd .input-container .radio-tile {
  padding: 0.5rem;
}

.radio-tile-group .input-container .radio-tile .icon img {
  max-width: 80%;
  margin-left: 10%;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile {
  background-color: #079ad9;
  border: 2px solid #079ad9;
  color: white;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile.warning {
  background-color: #ffc107;
  border: 2px solid #ffc107;
  color: #000;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.radio-tile-group .input-container .radio-button.one:checked + .radio-tile {
  background-color: #18b5fd;
  border: 2px solid #18b5fd;
}
.radio-tile-group .input-container .radio-button.two:checked + .radio-tile {
  background-color: #802ff1;
  border: 2px solid #802ff1;
}
.radio-tile-group .input-container .radio-button.three:checked + .radio-tile {
  background-color: #ff7900;
  border: 2px solid #ff7900;
}
.radio-tile-group .input-container .radio-button.four:checked + .radio-tile {
  background-color: #df0f4e;
  border: 2px solid #df0f4e;
}

.radio-tile-group .input-container .icon .fa {
  color: #000;
}
.radio-tile-group .input-container .radio-tile .icon i {
  color: #fff;
}

.radio-tile-group .input-container .radio-button:checked + .radio-tile .icon i {
  color: #fff;
}

.radio-tile-group .input-container .radio-tile-label {
  text-align: center;
  font-size: 0.65rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #079ad9;
  margin-bottom: 0;
}
.radio-tile-group .input-container .radio-tile-label.bolean {
  font-size: 0.95rem;
}
.radio-tile-group .input-container.yellow .radio-tile-label {
  color: #000;
}

.radio-tile-group
  .input-container
  .radio-button:checked
  + .radio-tile
  .radio-tile-label {
  color: #fff;
  background-color: transparent;
}
.radio-tile-group
  .input-container
  .radio-button:checked
  + .radio-tile.warning
  .radio-tile-label {
  color: #000;
  background-color: transparent;
}

.hidden-box {
  display: none;
}
.box-check {
  width: 100%;
  margin: 0 auto;
}
.box-check p {
  text-align: left;
  font-size: 14px;
}

[type='checkbox']:not(:checked),
[type='checkbox']:checked {
  position: absolute;
  left: -9999px;
}
[type='checkbox']:not(:checked) + label,
[type='checkbox']:checked + label {
  position: relative;
  padding-left: 95px;
  cursor: pointer;
}
[type='checkbox']:not(:checked) + label:before,
[type='checkbox']:checked + label:before,
[type='checkbox']:not(:checked) + label:after,
[type='checkbox']:checked + label:after {
  content: '';
  position: absolute;
}
[type='checkbox']:not(:checked) + label:before,
[type='checkbox']:checked + label:before {
  left: 0;
  top: 0;
  width: 80px;
  height: 30px;
  background: #dddddd;
  border-radius: 6px;
  transition: background-color 0.2s;
}
[type='checkbox']:not(:checked) + label:after,
[type='checkbox']:checked + label:after {
  width: 30px;
  height: 30px;
  transition: all 0.2s;
  border-radius: 6px 0 0 6px;
  background: #7f8c9a;
  top: 0;
  left: 0;
}

/* on checked */
[type='checkbox']:checked + label:before {
  background: #daf4ff;
}
[type='checkbox']:checked + label.zen.option2:before {
  background: #eeb900;
}
[type='checkbox']:checked + label:after {
  background: #058fcc;
  top: 0;
  left: 51px;
  border-radius: 0 6px 6px 0;
}
[type='checkbox']:checked + label.zen.option2:after {
  background: #ed9108;
}

[type='checkbox']:checked + label .ui,
[type='checkbox']:not(:checked) + label .ui:before,
[type='checkbox']:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  transition: all 0.2s;
}
[type='checkbox']:checked + label {
  color: #058fcc;
}
[type='checkbox']:checked + label.zen.option2 {
  color: #ffc107;
}

[type='checkbox']:not(:checked) + label .ui:before {
  font-family: 'themify';
  content: '\e64c';
  left: 46px;
  margin-top: 3px;
  color: #ccc;
}
[type='checkbox']:checked + label .ui:after {
  font-family: 'themify';
  content: '\e64c';
  color: #058fcc;
  margin-top: 3px;
  left: 12px;
}
[type='checkbox']:checked + label.zen.option2 .ui:after {
  font-family: 'themify';
  content: '\e64c';
  color: #fff;
  margin-top: 3px;
  left: 12px;
}
[type='checkbox']:focus + label:before {
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

select {
  border-radius: 25px;
  -webkit-appearance: none;
}

.arrow-select {
  position: absolute;
  top: 45px;
  right: 25px;
  color: #000;
}

ul.list {
  list-style: none;
  text-align: left;
}
ul.list.last {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #484848;
}

ul.list li {
  margin-bottom: 5px;
}
ul.list.last a {
  font-weight: 400;
}
ul.list li::before {
  content: '\e628';
  font-family: themify;
  font-size: 12px;
  color: #058fcc;
  margin-right: 5px;
}

footer p {
  font-size: 12px;
  color: #fff;
}

.soc {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.soc li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.soc li a {
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  z-index: 1;
  width: 35px;
  height: 35px;
  font-size: 19px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  margin-right: 7px;
  color: #fff;
  background-color: #058fcc;
  padding-top: 3px;
}

@media (min-width: 992px) {
  ul.list.last {
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid #484848;
    border-top: none;
  }

  footer p {
    font-size: 14px;
  }
}

.text-icon-box {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
  /*overflow: hidden;*/
  border-radius: 5px;
  background: #f7f8fb;
  padding: 30px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
  width: 100%;
  min-height: 285px;
  margin-bottom: 30px;
}
.text-icon-box.bg {
  background-image: url(../images/bg-card3.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.text-icon-box.credit {
  min-height: 229px;
}

.text-icon-box .box-img-icon {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
.text-icon-box.credit .box-img-icon img {
  margin-top: -80px;
}

.box-hover-1:hover,
.box-hover-2:hover,
.box-hover-3:hover,
.box-hover-4:hover,
.box-hover-5:hover,
.box-hover-6:hover,
.box-hover-7:hover {
  -webkit-box-shadow: 0 7px 14px rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.box-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .text-icon-box.credit {
    min-height: initial;
    padding-left: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 7px 14px rgba(0, 0, 0, 0.3);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    margin-bottom: 20px;
  }
  .text-icon-box.credit .box-img-icon {
    position: absolute;
    left: -115px;
    top: 20px;
  }
  .text-icon-box.credit .box-img-icon img {
    max-width: 40% !important;
    margin-top: 0;
  }
}

@media (max-width: 320px) {
  .text-icon-box.credit {
    min-height: initial;
    padding-left: 120px;
  }
  .text-icon-box.credit .box-img-icon {
    position: absolute;
    left: -100px;
    top: 20px;
    margin-left: 2% !important;
  }
  .text-icon-box.credit .box-img-icon img {
    max-width: 40% !important;
    margin-top: 0;
  }
}

/*   S L I C K  S T Y L E S   */

/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
/*.slick-slide img
{
    display: block;
}*/
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

@charset 'UTF-8';

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/slick.eot');
  src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'),
    url('../fonts/slick.woff') format('woff'),
    url('../fonts/slick.ttf') format('truetype'),
    url('../fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 40px;
  line-height: 1;

  opacity: 0.75;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -5px;
  z-index: 99999;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: '←';
}
[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: 15px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: '→';
}
[dir='rtl'] .slick-next:before {
  content: '←';
}

@media (min-width: 768px) {
  .slick-prev {
    left: -35px;
  }
  .slick-next {
    right: -15px;
  }
}

/*  S E P A R A T O R S  S T Y L E S   */
.block {
  width: 100%;
  background: #fff;
}
.block.blue {
  background-color: transparent;
  width: 100%;
  position: absolute;
  top: 0;
}

.ss::before,
.ss::after {
  position: absolute;
  content: '';
  pointer-events: none;
}

.ss {
  position: relative;
  min-height: 90px;
}

/***** Diagonal *****/

.ss-diagonal {
  z-index: 9;
}
.ss-diagonal::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 125%;
  height: 100%;
  overflow-x: hidden;
  background: white;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.block.blue .ss-diagonal::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 125%;
  height: 100%;
  overflow-x: hidden;
  background: #fff;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
