<section id="home" class="h40 d-flex align-items-center bg-contact section-padding mt-5 mt-md-0">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-sm-12 col-lg-10">
				<h1 class="title text-shadow">Contacto</h1>
			</div>
		</div>
	</div>
</section>
<section id="work" class="py-5 d-flex align-items-center h100" ng-app="app">
	<div class="container" ng-controller="email">
		<div class="row justify-content-center">
			<div class="col col-sm-8 col-lg-5 mb-5">
				<p>Por favor déjanos cualquier duda, queja o aclaración, y un agente se pondrá en contacto contigo en menos de 24 horas</p>
				<form action="" form name="frm" novalidate>
					<div class="form-group">
						<label for="">Nombre completo</label>
						<input type="text" class="form-control btn-rounded" placeholder="" ng-model="f.name" name="name" ng-pattern="lettersForNames" required>
						<small id="" class="form-text text-warning" ng-if="(frm.name.$invalid && !frm.name.$pristine) || (frm.name.$invalid && frm.$submitted)">Campo incorrecto.</small>
					</div>
					<div class="form-group">
						<label for="">Correo electrónico</label>
						<input type="email" class="form-control btn-rounded" id="" placeholder="" ng-model="f.email" name="email" ng-pattern="emailExpression" required>
						<small id="" class="form-text text-warning" ng-if="(frm.email.$invalid && !frm.email.$pristine) || (frm.email.$invalid && frm.$submitted)">Campo incorrecto.</small>
					</div>
					<div class="form-group">
						<label for="">Teléfono</label>
						<input type="tel" class="form-control btn-rounded" id="" placeholder="" ng-model="f.phone" name="phone" ng-pattern="onlyNumbers" required limit-to="10" ng-maxlength="10" ng-minlength="10">
						<small id="" class="form-text text-warning" ng-if="(frm.phone.$invalid && !frm.phone.$pristine) || (frm.phone.$invalid && frm.$submitted)">Campo incorrecto.</small>
					</div>
					<div class="form-group">
						<label for="">Mensaje</label>
						<textarea class="form-control" placeholder="Escribe tu mensaje aquí" ng-model="f.message"></textarea>
					</div>
					<hr>
					<a class="btn btn-primary btn-block btn-rounded text-white" ng-disabled="frm.$invalid" ng-click="sendEmail(frm.$valid); frm.$submitted=true">Enviar <i class="fa fa-spinner fa-spin" style="font-size:24px" ng-if="sending"></i></a>
				</form>
			</div>
		</div>
	</div>
	<script src="/js/angular.min.js"></script>
	<script src="/js/app.js"></script>
</section>
