<section id="home" class="h50 overlay-dark d-flex align-items-center bg-card section-padding" ng-app="app">
  <div class="container" ng-controller="home as vm">
    <div class="row justify-content-center text-center">
      <div class="col-sm-12 col-lg-10 ">
        <div class="max700">
          <h1 class="title text-white mt-3">Nuestro servicio es 100% gratuito. ¡Haz clic y conócelo!</h1>
          <p class="text-white">Nuestro sistema inteligente, busca entre todas las tarjetas disponibles y te muestra tus mejores opciones.</p>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-6 col-lg-5 text-center mt-4 mb-2 mb-lg-5">
            <a href="/step1" class="btn btn-warning btn-lg btn-rounded font-weight-bold btn-block" ng-click="setOrigin('Préstamos personales');">Quiero ver mis opciones</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="block" id="diagonal">
  <section class="ss ss-diagonal" id="section3"></section>
</div>
<%# <section id="work" class="pb-3 bg-section overlay-light80 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col mb-5 text-center">
        <h2 class="font-weight-bold text-red mb-5">
          Las Tarjetas más populares
        </h2>
      </div>
    </div>
    <div class="row justify-content-center mb-lg-5">
      <div class="col-sm-6 col-lg-4">
        <div class="text-icon-box credit box-hover-1 text-center">
          <div class="box-img-icon">
            <img class="w-75" src="images/anexo5.png" alt="American Express">
          </div>
          <h3 class="box-title">The Gold Elite de American Express</h3>
          <a href="https://afiliacion.net/?a=1988624&c=8789&s1=FR-FernandezRubi_MX-SMS" class="btn btn-warning btn-rounded font-weight-bold">Solicitud rápida</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="text-icon-box credit box-hover-1 text-center">
          <div class="box-img-icon">
            <img class="w-75" src="images/anexo3.png" alt="Citibanamex Oro">
          </div>
          <h3 class="box-title">Tarjeta Oro de CitiBanamex</h3>
          <a href="http://ntvn.io/RAK5T" class="btn btn-warning btn-rounded font-weight-bold">Solicitud rápida</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="text-icon-box credit box-hover-1 text-center">
          <div class="box-img-icon">
            <img class="w-75" src="images/anexo4.png" alt="Citibanamex Platinum">
          </div>
          <h3 class="box-title mb-4">Tarjeta Platinum de CitiBanamex</h3>
          <a href="http://ntvn.io/RAK5T" class="btn btn-warning btn-rounded font-weight-bold">Solicitud rápida</a>
        </div>
      </div>
    </div>
  </div>
</section> %>
<section class="section-padding d-flex align-items-center h75 bg-card-2 overlay-dark">
  <div class="block blue" id="diagonal">
    <div class="ss ss-diagonal" id="section3"></div>
  </div>
  <div class="container text-center pt-5">
    <div class="row">
      <div class="col mb-5 text-center">
        <h2 class="font-weight-bold text-white">Cómo funciona</h2>
      </div>
    </div>
    <div class="row mb-lg-4">
      <div class="col-sm-6 col-lg-3">
        <div class="text-icon-box box-hover-1 text-center">
          <div class="box-img-icon">
            <img class="w-50" src="images/work-1.png" alt="work-img">
          </div>
          <p class="text-red font-weight-bold mb-0">Paso 1</p>
          <h3 class="box-title">Haz clic en el botón de abajo</h3>
          <a href="/step1" class="btn btn-warning btn-lg btn-rounded font-weight-bold btn-block">Clic aquí</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="text-icon-box box-hover-1 text-center">
          <div class="box-img-icon">
            <img class="w-50" src="images/work-2.png" alt="work-img">
          </div>
          <p class="text-red font-weight-bold mb-0">Paso 2</p>
          <h3 class="box-title">Contesta las 5 preguntas, te tomará 90 segundos</h3>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="text-icon-box box-hover-1 text-center">
          <div class="box-img-icon">
            <img class="w-50" src="images/work-3.png" alt="work-img">
          </div>
          <p class="text-red font-weight-bold mb-0">Paso 3</p>
          <h3 class="box-title">Al finalizar, te mostramos las tarjetas en las que serías aprobado</h3>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="text-icon-box box-hover-1 text-center">
          <div class="box-img-icon">
            <img class="w-50" src="images/work-4.png" alt="work-img">
          </div>
          <p class="text-red font-weight-bold mb-0">Paso 4</p>
          <h3 class="box-title">Haz clic en la que deseas, y completa el cuestionario</h3>
        </div>
      </div>
    </div>
    <div class="row mb-lg-5">
      <div class="col text-center">
        <a href="/step1" class="btn btn-warning btn-rounded font-weight-bold">Muéstrame mis opciones</a>
      </div>
    </div>
  </div>
</section>
<div class="block" id="diagonal">
  <section class="ss ss-diagonal" id="section3"></section>
</div>
<section id="benefits" class="section-padding-b d-flex align-items-center bg-section2 overlay-light80 h100 ">
  <div class="container">
    <div class="row">
      <div class="col mb-5 text-center">
        <h2 class="font-weight-bold h2 text-red">Beneficios</h2>
        <p class="lead max700"><span class="font-weight-bold">Tutarjeta.mx</span> es la solución perfecta para conocer todas tus opciones de una manera rápida y fácil</p>
      </div>
    </div>
    <!-- <div class="row hide-desktop mb-3">
      <div class="col-sm-12">
        <div class="media">
          <img width="50" height="50" src="images/icon-hand.png" class="mr-2" alt="Helper">
          <div class="media-body">
            <span class="font-weight-bold small">Arratra tu dedo hacia la izquierda sobre la tarjeta para conocer más beneficios de tutarjeta.mx</span>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row justify-content-center">
      <div class="col-sm-10">
        <div class="benefits">
          <div class="w-100">
            <div class="p-3 p-lg-2">
              <div class="text-icon-box box-hover-1 text-center d-flex align-items-center">
                <div>
                  <div class="box-img-icon">
                    <img class="w-50" src="images/ben_one.png" alt="Beneficio 1">
                  </div>
                  <p class="text-red font-weight-bold mb-0">Desde cualquier lugar</p>
                  <h3 class="box-title">El proceso 100% por internet</h3>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="p-3 p-lg-2">
              <div class="text-icon-box box-hover-1 text-center d-flex align-items-center bg overlay-light">
                <div class="w-100">
                  <div class="box-img-icon">
                    <img class="w-50" src="images/ben_two.png" alt="Beneficio 1">
                  </div>
                  <p class="text-red font-weight-bold mb-0">Servicio gratuito</p>
                  <h3 class="box-title">No deberás pagar nada para usar nuestro servicio</h3>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="p-3 p-lg-2">
              <div class="text-icon-box box-hover-1 text-center d-flex align-items-center">
                <div class="w-100">
                  <div class="box-img-icon">
                    <img class="w-50" src="images/ben_three.png" alt="Beneficio 1">
                  </div>
                  <p class="text-red font-weight-bold mb-0">Proceso personalizado</p>
                  <h3 class="box-title">Aplica una vez y obtén muchas opciones</h3>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="p-3 p-lg-2">
              <div class="text-icon-box box-hover-1 text-center d-flex align-items-center bg overlay-light">
                <div class="w-100">
                  <div class="box-img-icon">
                    <img class="w-50" src="images/ben_four.png" alt="Beneficio 1">
                  </div>
                  <p class="text-red font-weight-bold mb-0">Seguridad Total</p>
                  <h3 class="box-title">Sin fraudes, sin depósitos, sin miedo</h3>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="p-3 p-lg-2">
              <div class="text-icon-box box-hover-1 text-center d-flex align-items-center">
                <div class="w-100">
                  <div class="box-img-icon">
                    <img class="w-50" src="images/ben_five.png" alt="Beneficio 1">
                  </div>
                  <p class="text-red font-weight-bold mb-0">100% confiable</p>
                  <h3 class="box-title">Solo trabajamos con empresas serias y reguladas</h3>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="p-3 p-lg-2">
              <div class="text-icon-box box-hover-1 text-center d-flex align-items-center  bg overlay-light">
                <div class="w-100">
                  <div class="box-img-icon">
                    <img class="w-50" src="images/ben_six.png" alt="Beneficio 1">
                  </div>
                  <p class="text-red font-weight-bold mb-0">Servicio de calidad</p>
                  <h3 class="box-title">Todos nuestros usuarios reciben una oferta</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-sm-5 col-lg-3 text-center">
        <a href="/step1" class="btn btn-warning btn-rounded font-weight-bold mt-5 px-4">Ir a la solicitud</a>
      </div>
    </div>
  </div>
	<script src="/js/angular.min.js"></script>
	<script src="/js/app.js"></script>
</section>
