<section id="home" class="h100 d-flex align-items-center bg-section3 overlay-dark section-padding" ng-app="app">
	<div class="container" ng-controller="results as vm">
		<div class="row justify-content-center text-center">
			<div class="col-sm-12 col-lg-10 ">
				<h1 class="title">¡Felicidades!</h1>
				<p class="subtitle text-white max700 mb-3">Nuestro sistema analizó tu información, y cumples con los requisitos para solicitar cualquiera de las siguientes opciones:</p>


				<div class="row justify-content-center">
          <div class="col-sm-6 col-lg-4" ng-repeat="c in cards">
						<div class="card-wini">
							<div class="content">
								<div class="mb-3 d-flex flex-column justify-content-center align-items-center" style="height:85px;">
									<img class="max80" ng-src="{{c.image}}" alt="{{c.title}}">
								</div>
								<ul class="no-style mb-4" style="min-height:100px;">
									<li ng-repeat="d in c.description"><i class="fas fa-check"></i> {{d}} </li>
								</ul>
								<p class="button">
									<a ng-href="{{c.url}}" class="btn btn-warning btn-lg btn-rounded font-weight-bold btn-block">Solicitar <i class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
          </div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/angular.min.js"></script>
	<script src="/js/app.js?id=0001"></script>
</section>
