
<section id="process" class="bg-section3 section-padding h100 overlay-dark" ng-app="app">
	<div class="container" ng-controller="step1 as vm">
		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg-7">
				<div class="card-wini card-form mt-5">
					<div class="content p-4 p-lg-5">
						<h2 class="font-weight-bold text-danger h4">Datos de contacto</h2>
						<p>Ingresa tu número celular a 10 dígitos, tu correo electrónico y haz clic en <span class="badge badge-warning">Siguiente</span></p>
						<form action="" form name="frm" novalidate>
							<div class="row">
								<div class="col">
									<div class="form-group">
										<label for="exampleInputPassword1">Teléfono celular</label>
										<input type="tel" class="form-control btn-rounded" id="phone" placeholder="10 dígitos" ng-model="f.phone" name="phone" ng-pattern="onlyNumbers" required limit-to="10" ng-maxlength="10" ng-minlength="10">
										<small id="" class="form-text text-warning" ng-if="(frm.phone.$invalid && !frm.phone.$pristine) || (frm.phone.$invalid && frm.$submitted)">Campo incorrecto. Tu teléfono debe contener 10 dígitos</small>
									</div>
									<div class="form-group">
										<label for="">Correo electrónico</label>
										<input type="email" class="form-control btn-rounded" id="email"  placeholder="Correo electrónico" ng-model="f.email" name="email" ng-pattern="emailExpression" required>
										<small id="" class="form-text text-warning" ng-if="(frm.email.$invalid && !frm.email.$pristine) || (frm.email.$invalid && frm.$submitted)">Campo incorrecto. Ingresa un correo válido</small>
									</div>
								</div>
							</div>
							<hr>
							<div class="row justify-content-center">
								<div class="col-12 col-sm-9">
									<h4 class="font-weight-bold h6 text-center mb-4">Para continuar, acepta los siguientes términos:</h4>
									<div class="box-check">
										<p><input class="cbx" type="checkbox" id="1" ng-model="f.termsConditions" required/><label class="zen" for="1"><span class="ui"></span>Acepto los términos y condiciones del servicio</label></p>
										<p><input class="cbx" type="checkbox" id="2" ng-model="f.privacyNotice" required/><label class="zen" for="2"><span class="ui"></span>Acepto el aviso de privacidad</label></p>
									</div>
								</div>
							</div>
						</form>
						<hr>
						<div class="row">
							<div class="col">
								<a class="btn btn-warning btn-rounded font-weight-bold btn-block" ng-disabled="frm.$invalid && frm.$pristine" ng-click="register(frm.$valid && !frm.$pristine); frm.$submitted=true">Siguiente <i class="fas fa-angle-double-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/angular.min.js"></script>
	<script src="/js/app.js"></script>
</section>
