<section id="process" class="d-flex align-items-center bg-section3 section-padding h100 overlay-dark" ng-app="app">
	<div class="container" ng-controller="step6 as vm">
		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg-7">
				<div class="card-wini card-form">
					<div class="header bg-red text-white">
						<h1 class="h6">Recuerda que sin importar tus respuestas, encontraremos un producto financiero perfecto para ti</h1>
					</div>
					<div class="content p-4">
						<h4 class="h6 font-weight-bold text-center">¿Actualmente tienes uno o más de estos productos financieros vigentes?</h4>
						<p class="mb-3 text-info text-center"><small>Elige todas las opciones necesarias</small></p>
						<form action="" form name="frm" novalidate>
							<div class="row justify-content-md-center">
								<div class="col-sm-6">
									<div class="box-check">
										<p ng-repeat="fP in financialProduct"><input class="cbx" type="checkbox" id="{{fP.id}}" ng-model="val" ng-change="change(fP.id);"/><label class="zen" for="{{fP.id}}"><span class="ui"></span>{{fP.description}}</label></p>
									</div>
								</div>
							</div>
							<div class="row mb-3" ng-if="f.financialProduct.length > 0">
								<div class="col-sm-12">
									<h4 class="h6 mt-4 font-weight-bold text-center">¿Estás al corriente con tu crédito o préstamo?</h4>
									<div class="radio-tile-group text-center">

										<div class="input-container checkbox">
											<input class="radio-button" type="radio" name="radio5" ng-model="f.paymentUpToDate" value="true" ng-required="f.financialProduct.length > 0"/>
											<div class="radio-tile">
												<label for="walk" class="radio-tile-label bolean">Sí</label>
											</div>
										</div>
										<div class="input-container checkbox">
											<input class="radio-button" type="radio" name="radio5" ng-model="f.paymentUpToDate" value="false" ng-required="f.financialProduct.length > 0"/>
											<div class="radio-tile">
												<label for="walk" class="radio-tile-label bolean">No</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
						<p class="mb-3 text-info text-center"><small>Si no cuentas con ninguno, haz clic en el botón "Quiero la mejor opción"</small></p>
						<hr>
						<div class="row justify-content-end">
							<div class="col-xl-6 col-md-8 col-sm-12">
								<a class="btn btn-warning btn-rounded font-weight-bold btn-block" ng-disabled="frm.$invalid && frm.$pristine" ng-click="register(frm.$valid); frm.$submitted=true">Quiero la mejor opción <i class="fas fa-angle-double-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/angular.min.js"></script>
	<script src="/js/app.js"></script>
</section>
