<section id="process" class="d-flex align-items-center bg-section3 section-padding h100 overlay-dark" ng-app="app">
	<div class="container" ng-controller="step2 as vm">
		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg-7">
				<div class="card-wini card-form">
					<div class="header bg-red text-white">
						<h1 class="h6">Recuerda que sin importar tus respuestas, encontraremos un producto financiero perfecto para ti</h1>
					</div>
					<div class="content p-4">
						<h2 class="font-weight-bold text-center h6">Fecha de nacimiento</h2>
						<form action="" form name="frm" novalidate>
							<div class="row justify-content-center">
								<div class="col col-sm-9">
									<div class="form-group">
										<label for="">Nombre(s)</label>
										<input type="text" class="form-control btn-rounded" id="name"  placeholder="Nombre(s)" ng-model="f.name" name="name" ng-pattern="lettersForNames" ng-change="generateCURP()" required>
										<small id="" class="form-text text-warning" ng-show="frm.name.$error.pattern">Este campo solo admite letras</small>
									</div>
								</div>
							</div>

							<div class="row justify-content-center">
								<div class="col col-sm-9">
									<div class="form-group">
										<label for="paternalSurname">Apellido Paterno</label>
										<input type="text" class="form-control btn-rounded" id="paternalSurname"  placeholder="Apellido Paterno" ng-model="f.paternalSurname" name="paternalSurname" ng-pattern="lettersForNames" ng-change="generateCURP()" required>
										<small id="" class="form-text text-warning" ng-show="frm.paternalSurname.$error.pattern">Este campo solo admite letras</small>
									</div>
								</div>
							</div>

							<div class="row justify-content-center">
								<div class="col col-sm-9">
									<div class="form-group">
										<label for="maternalSurname">Apellido Materno</label>
										<input type="text" class="form-control btn-rounded" id="maternalSurname"  placeholder="Apellido Materno" ng-model="f.maternalSurname" name="maternalSurname" ng-pattern="lettersForNames" ng-change="generateCURP()" required>
										<small id="" class="form-text text-warning" ng-show="frm.maternalSurname.$error.pattern">Este campo solo admite letras</small>
									</div>
								</div>
							</div>

							<div class="row justify-content-center">
								<div class="col-12 col-sm-9">
									<div class="form-group">
										<label for="">Estado de nacimiento</label>
										<i class="fas fa-angle-down arrow-select"></i>
										<select class="form-control btn-rounded" ng-options="item.id as item.description for item in state" ng-model="f.state" ng-change="generateCURP()"></select>
									</div>
								</div>
							</div>

							<div class="row justify-content-center">
								<div class="col col-sm-3">
									<div class="form-group">
										<label for="">Día</label>
										<i class="fas fa-angle-down arrow-select"></i>
										<select class="form-control btn-rounded" ng-options="item as item for item in days" ng-model="f.dayBirth" ng-change="generateCURP()"></select>
									</div>
								</div>
								<div class="col col-sm-3">
									<div class="form-group">
										<label for="">Mes</label>
										<i class="fas fa-angle-down arrow-select"></i>
										<select class="form-control btn-rounded" ng-options="item as item for item in months" ng-model="f.monthBirth" ng-change="daysInMonth()"></select>
									</div>
								</div>
								<div class="col col-sm-3">
									<div class="form-group">
										<label for="">Año</label>
										<i class="fas fa-angle-down arrow-select"></i>
										<select class="form-control btn-rounded" ng-options="item as item for item in years" ng-model="f.yearBirth" ng-change="daysInMonth()"></select>
									</div>
								</div>
							</div>

							<div class="row justify-content-center">
								<div class="col col-sm-9">
									<div class="form-group">
										<label class="gender">Estado civil</label>
										<i class="fas fa-angle-down arrow-select"></i>
										<select class="form-control btn-rounded" ng-options="item.id as item.civilState for item in civilState" ng-model="f.civilState"></select>
									</div>
								</div>
							</div>

							<div class="row justify-content-center">
								<label class="col-sm-9">G&eacute;nero</label>
								<div class="radio-tile-group text-center col-9">
									<div class="input-container" ng-repeat="p in gender">
										<input class="radio-button" type="radio" name="radio" ng-model="f.gender" ng-change="generateCURP()" value="{{p.id}}" default="1" required/>
										<div class="radio-tile">
											<label for="walk" class="radio-tile-label">{{p.gender}}</label>
										</div>
									</div>
								</div>
							</div>
							<br />
							<div class="row justify-content-center">
								<div class="col-sm col-md-9 col-lg-6">
									<div class="form-group">
										<label for="curp">CURP</label>
										<input type="text" class="form-control btn-rounded" id="curp" value="f.curp" placeholder="CURP" ng-model="f.curp" name="curp" ng-pattern="curpExpression" required disabled>
										<small id="" class="form-text text-warning" ng-show="frm.curp.$error.pattern">Verifica o completa tu CURP</small>
									</div>
								</div>
								<div class="col-sm col-md-9 col-lg-3">
									<div class="form-group">
										<label for="homoclave" class="small font-weight-bold">C&oacute;digo (opcional)</label>
										<input type="text" class="form-control btn-rounded" id="homoclave" ng-model="f.homoclave" name="homoclave" ng-pattern="curpHomoclave">
										<small id="" class="form-text text-warning" ng-show="frm.homoclave.$error.pattern">Homoclave invalida</small>
									</div>
								</div>
							</div>
							<br/>
						</form>
						<hr>
						<div class="row">
							<div class="col">
								<a href="/step1" class="btn btn-light btn-rounded font-weight-bold btn-block"><i class="fas fa-angle-double-left mr-2"></i> Regresar</a>
							</div>
							<div class="col">
								<a class="btn btn-warning btn-rounded font-weight-bold btn-block" ng-disabled="frm.$invalid && frm.$pristine" ng-click="register(frm.$valid && !frm.$pristine); frm.$submitted=true">Siguiente <i class="fas fa-angle-double-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/angular.min.js"></script>
	<script src="/js/app.js"></script>
</section>
