body{
	
}

<div class="tab tab-primary">
</div>

css

.tab
	width:100px
	color:red
	font-size:20px


.tab.tam-primary
	color:verde
	font-size:25px


less

.tab{
	width:100px
	color:red
	font-size:20px
	&.tam-primary{
		color:verde
		font-size:25px
	}
}
